.container {
   width: 60%;
   margin: 0 auto;
   padding-left: 2rem;
   padding-right: 2rem;
}
.panel__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    width: 100%;
    height: 80vh;
    border-radius: 60px;
    margin: 10px;

    flex: 0.5;
    position: relative;
    transition: flex 0.4s ease-in;
}
.panel__item.active {
    flex: 5;
}
.panel__item.active h3 {
    opacity: 1;
}
.panel__title {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 20px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
}
.container-2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 20vh;
    overflow: hidden;
}   
.progress-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    max-width: 100%;

    margin-bottom: 10px;
    position: relative;
}
.progress-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: #e0e0e0;
    transform: translateY(-50%);
    z-index: -1;
}
.progress {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 4px;

    background-color: #3498db;
    transition: .4s ease;
    z-index: -1;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #e0e0e0;

    background-color: #fff;
    color: #999;
    transition: color .4s ease-in;
}
.circle.active-progress {
    border-color: #3498db;
}
.btn {
    padding: 8px 30px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    
    font-size: 14px;
    cursor: pointer;

    background-color: #3498db;
    color: #fff;
}
.btn:active {
    transform: scale(.98);
}
.btn:focus {
    outline: none;
}
.btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}